#nav {
  display: inline-block;
  background: orange;
  position: fixed;
  width: 100%;
  top: 0;
  height: 160px;
  background-color: #fff;
  z-index: 150; }
  #nav #logo {
    text-decoration: none;
    margin: 0; }
    #nav #logo h1 {
      text-decoration: none;
      color: #424242; }
  #nav .container {
    margin: 35px 180px; }
  #nav h1 {
    font-size: 38px;
    font-weight: bold;
    padding: 0;
    width: 200px;
    margin: 0; }
  #nav p {
    border-bottom: 1px solid orange;
    padding: 0;
    width: 68px;
    margin: 0 0 0 110px;
    position: relative;
    bottom: 8px; }
  #nav ul {
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0px;
    position: relative;
    bottom: 28px; }
    #nav ul li {
      display: inline;
      margin: 10px; }
    #nav ul a, #nav ul a:visited {
      text-decoration: none;
      color: #424242; }
    #nav ul a:hover {
      color: #8e8e8e; }

#intro {
  height: 750px;
  max-width: 100%;
  border: 3px solid #ffcc33;
  background: #ffcc33;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #ffcc33 3%, #fca400 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(3%, #ffcc33), color-stop(99%, #fca400));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #ffcc33 3%, #fca400 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #ffcc33 3%, #fca400 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #ffcc33 3%, #fca400 99%);
  /* IE10+ */
  background: linear-gradient(45deg, #ffcc33 3%, #fca400 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc33', endColorstr='#fca400',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  color: #222; }
  #intro .container {
    max-width: 100%;
    height: auto;
    margin: 300px 180px;
    text-align: center; }
    @media screen and (min-width: 480px) {
      #intro .container {
        text-align: left; } }
  #intro h1 {
    font-size: 65px; }
  #intro h2 {
    font-size: 36px; }
  #intro p {
    font-size: 20px; }
  #intro h1 {
    position: relative;
    top: 20px;
    padding-top: 0px;
    width: 168px; }
  #intro h2 {
    color: #424242;
    margin: 0;
    width: 495px; }
  #intro p {
    position: relative;
    bottom: -25px;
    color: #424242;
    margin: 0;
    width: 495px; }
  #intro h1 {
    text-shadow: 0 1px 3px rgba(66, 66, 66, 0.18); }
  #intro .codingsign {
    color: rgba(0, 0, 0, 0.2);
    font-size: 350px;
    height: 220px;
    line-height: 220px;
    text-align: right;
    margin: -260px 0; }

#skills {
  height: 200px;
  background: white; }
  #skills h1 {
    font-size: 65px; }
  #skills h2 {
    font-size: 36px; }
  #skills p {
    font-size: 20px; }
  #skills h1 {
    position: relative;
    top: 20px;
    padding-top: 0px;
    width: 168px; }
  #skills h2 {
    color: #424242;
    margin: 0;
    width: 495px; }
  #skills p {
    position: relative;
    bottom: -25px;
    color: #424242;
    margin: 0;
    width: 495px; }
  #skills .container {
    position: relative;
    height: auto;
    margin: 125px 180px; }
  #skills h1 {
    color: #424242;
    width: 450px;
    position: relative;
    top: 15px; }
  #skills h2 {
    color: #424242;
    position: relative;
    bottom: 12px; }
  #skills p {
    position: relative;
    bottom: -12px;
    color: #424242;
    width: 1000px; }

#icons {
  border: 5px solid pink;
  max-width: 100%;
  color: #424242;
  background: white;
  width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  font-size: 12px;
  text-align: center; }
  #icons #appIcon {
    border: 2px solid yellow; }
  #icons img {
    height: 100px;
    max-width: 100%; }
  #icons #gallery {
    margin: 0;
    padding: 0;
    list-style: none; }
  #icons li {
    height: 144px;
    background: navy;
    float: left;
    width: 45%;
    margin: 2.5%; }
    #icons li h2 {
      color: #424242;
      margin: 0;
      padding: 5%; }
    @media screen and (min-width: 480px) {
      #icons li {
        width: 20%;
        margin: 5% 0;
        height: 200px; } }

#contact-content {
  clear: both;
  border: 5px solid pink;
  max-width: 100%;
  color: #424242;
  background: gray; }
  #contact-content .container {
    text-align: center;
    height: 300px;
    margin: 35px 180px;
    border: 3px solid orange; }

#contact-form {
  border: 5px solid pink;
  max-width: 100%;
  color: #424242;
  background: gray; }
  #contact-form .container {
    height: auto;
    margin: 35px 180px;
    border: 3px solid orange; }

#footer {
  border: 5px solid pink;
  max-width: 100%;
  color: #424242;
  background: gray;
  clear: both; }
  #footer .social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px; }
